* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b5c588;
  color: #31363b;
  font-family: "Pangolin", cursive;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  color: #0d3c55;
}

header,
form,
#under {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

#clear-btn {
  padding: 1rem;
  font-size: 2rem;
  background: #b5c588;

  color: #ba3927;
  letter-spacing: 0.5rem;
  border-radius: 1rem;
}

form button {
  color: #0d3c55;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #0d3c55;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.edit-btn,
.complete-btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.trash-btn {
  color: white;
  background: #ba3927;
}

.trash-btn:hover {
  background: white;
  color: #ba3927;
}

.complete-btn {
  background: #eed369;
  color: #373c3e;
}

.complete-btn:hover {
  background: #373c3e;
  color: #eed369;
}

.edit-btn {
  background: #0d3c55;
  color: white;
}

.edit-btn:hover {
  background: white;
  color: #0d3c55;
}

.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #0d3c55;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  color: #0d3c55;

  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: #0d3c55;
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
